/**
 * Page Header
 * A description.
 *
 * Markup: 
 * <header class="b-page-header">
 *   <div class="logo">Logo</div>
 * </header>
 *
 * Styleguide 1
 */

.b-page-header {
	
	@include respond-to(desktop) {
		background-color: #f30;
	}
	
	@include respond-to(pad) {
		background-color: #0f3;
	}

	@include respond-to(phone) {
		background-color: #30f;
	}
	
	display: block;
	width: 100%;
	height: 50px;
	
}
