---
title: Project Kickstart Assemble - Index
layout: lyt-default.hbs
---
<div class="b-page">
	<header class="b-page-header" role="banner">
		
	</header>
	
	<main class="b-page-main" role="main">
		
	</main>
	
	<footer class="b-page-footer" role="contentinfo">
		
	</footer>
</div>
