//
// Variables
// ---------
//


// Typography
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-fontsize: 16px;
$base-lineheight: 22px;

$headline-font: Georgia, serif;


// Colours
$main-color: #333; // _dark-grey
$main-bg-color: #fff; // _white
$highlight-color: #f9eaa6; // _yellow

