// Button-UI-Component

/**
 * Button-Element
 */
 
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button {
	@extend %btn;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow: visible;
	margin: 0;
	border: 0;
	padding: 0;
	font-family: $base-font;
	background-color: transparent;
}

// Standard Button-Placeholder
%btn {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

%btn:focus,
%btn:hover {
	outline: none; // don't forget to define an alternative styling! 
}

%btn[disabled] {
	cursor: not-allowed;
}
